# Dependencies
/node_modules/

# Build output
/dist/
/out-tsc/

# Angular specific
/.angular/
.angular-cache/
.angular-cli.json
angular.json
tsconfig.tsbuildinfo
*.tgz

# Environment files (ensure environment.ts is not ignored)
# .env
# .env.* 

# IDE and editor folders
.vscode/
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Log files
*.log

# Temporary files
*.tmp
*.swp
*.swo

# System files
*.bak
*.tmp
*.swp
*.swo
*.sublime-workspace
*.sublime-project
*.log

# Ignore other environment files (if you have any)
# e.g., .env.local, .env.development
